<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet"> 
    <title>My weather app</title>
</head>
<body>

<div id="bigContainer">
  <h4> WeatherAPP </h4></br>
  <hr>
  <h5>The most accurate forecast!</h5>

<div id="mainContent">
    <h3>Get your forecast for anywhere</h3>
<form>
    <input placeholder="Choose location...">
    <button>search</button>
    <p id="messageOne"></p>
</form>
</div>

</div>
    
    <footer> created by {{name}}</footer>

<script src="js/app.js"></script>
</body>
</html>